body
{
	background-image : url(../img/back.png);
	background-repeat : no-repeat;
	background-position: top;
	background-color : #2f2f2f;
}
#head
{
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 960px;
    height: 100px;
    min-width: 960px;
}
#title
{
	position: relative;
	margin : 0 auto;
	margin-left : 20px;
	font-size : 72px;
	font-family : "Bauhaus 93";
	color : #ff9900;
	width : 330px;
	height : 72px;
	display: inline-block;
}
.menuButtons
{
	font-size : 22px;
	font-family : "Bauhaus 93";
	color : #ff9900;
	width : 100px;
	height : 35px;
	display:inline-block;
	text-align: center;	
	margin : 0px;
	margin-top : 50px;
}
a:link
{
	text-decoration:none;
}
a:hover
{
	background-image : url(../img/button.png);
	color : red;
}
#home
{
	margin-left : 80px;
}